
/*--Imported google fonts to the project----------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Literata&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*----- Nav bar--------------------------------------------------------------------------------------*/

i#navNameColor, span#navNameColor {
    color: #E9ECEF;
    margin: 0px;
}

i#navNameColor{
    padding:25px 0px 25px 20px;
    font-size: 35px;
}

span#navNameColor{
    padding:25px 20px 25px 0px;
}

/*----- Title ------------------------------------------------------------------------------------*/
#Title-Profile-Icon, #Title-Contact-Icon, #Title-Skills-Icon, #Title-Experience-Icon, #Title-Portfolio-Icon {
     font-size: 50px;
}
.heading {
    margin-left: 50px;
}

/*---- My Photo -----------------------------------------------------------------------------------*/
#PatB_img{
    max-width: 100%;
    height: auto;
    margin: none;
    border-style: solid;
    border-width: 5px;
    border-color: #343A40;
    border-radius: 5px;
}


/*Section--------------------------------------------------------------------------------------------------------------------------*/
section{
    margin: 10px;
    padding: 5px;
    text-justify: 20px;
    
}


/*Skills section--------------------------------------------------------------------------------------------------------------------------*/

/*Contact page details--------------------------------------------------------------------------------------------------------------------------*/

/*CV page--------------------------------------------------------------------------------------------------------------------------*/


/* Footer--------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------------------------------------------*/